/Blizzard_MacroUI
/macroblocks.code-workspace
.vscode/settings.json
emoteSort.py
command_list_backup.lua
.releases/MacroBlocks-1.0.0-Release.zip
.releases/MacroBlocks/blizzard-macroframe.lua
.releases/MacroBlocks/CHANGELOG.md
.releases/MacroBlocks/embeds.xml
.releases/MacroBlocks/MacroBlocks.lua
.releases/MacroBlocks/MacroBlocks.toc
.releases/MacroBlocks/blocks/block-data.lua
.releases/MacroBlocks/blocks/block-scripts.lua
.releases/MacroBlocks/blocks/block-templates.xml
.releases/MacroBlocks/media/fonts.xml
.releases/MacroBlocks/media/fonts/NotoSansSymbols2-Regular.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Black.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Bold.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-ExtraBold.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-ExtraLight.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Light.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Medium.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Regular.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-SemiBold.ttf
.releases/MacroBlocks/media/fonts/NotoSansMono/NotoSansMono-Thin.ttf
.releases/MacroBlocks/media/textures/gear_disabled.tga
.releases/MacroBlocks/media/textures/gear_highlight.tga
.releases/MacroBlocks/media/textures/gear_normal.tga
.releases/MacroBlocks/media/textures/gear_pushed.tga
.releases/MacroBlocks-1.0.1-Release.zip
.releases/MacroBlocks-1.0.2-Release.zip
.release